* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    width: 1920px;
    height: 3599px;

    background: #FFFFFF;

    font-family: Open Sans, Oswald, sans-serif;;
}

h2 {
    padding-left: 40px;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

h3 {
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

h4 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.container {
    position: absolute;
    width: 1920px;
    height: 800px;
    left: 0px;
    top: 0px;
    background: url('../img/fs.jpg'), #C4C4C4;
}

.top-menu {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: rgba(0, 91, 193, 0.6);

    font-size: 14px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: left;

}

.menu-wrapper {
    display: flex;
    margin: 0 auto;
}

.top-menu img {
    height: 58px;
}

.top-menu a {
    margin: 0 14px 0 14px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

.rect-decoration {
    position: absolute;
    width: 444px;
    height: 720px;
    top: 80px;
    left: 405px;
    background: rgba(0, 91, 193, 0.6);
}

.first-screen__content {
    position: absolute;
    width: 635px;
    height: 317px;
    left: 595px;
    top: 282px;

}

.button__content {
    width: 160px;
    height: 51px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.first-screen__content {
    color: #FFFFFF;
    font-weight: 400;
}

.first-screen__content h1 {
    font-family: Ubuntu;
    font-size: 48px;
    font-weight: 400;
    width: 780px;
    line-height: 1.3em;
    text-align: left;
    margin-bottom: 40px;
}

.first-screen__content p {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 16px;
    line-height: 1.7em;
    width: 450px;
    margin-bottom: 40px;
}

.button__content a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
}

/*Section Projects*/

.projects {
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 950px;
    /*background-color: #ffe3e3;*/
}

.header-container {
    display: flex;
    align-items: center;
}


.projects-button {
    position: absolute;
    top: 0;
    height: 55px;
    width: 55px;
    border: 2px solid #005BC1;
    background-color: #FFFFFF;
    color: #005BC1;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
}

.button_right {
    right: 0;
}

.button_left {
    right: 53px;
}

.projects-button:hover {
    cursor: pointer;
}

.projects-container-left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 540px;
    height: 400px;
    /*background-color: #378108;*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Exhib1.png'), #C4C4C4;
}

.projects-container-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 540px;
    height: 400px;
    /*background-color: #378108;*/
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/Exhib2.png'), #C4C4C4;

}

.projects-sub-container {
    position: absolute;
    width: 250px;
    height: 110px;
    right: 20px;
    bottom: 20px;

    background-color: #ffffff;
    font-family: "Open Sans";

    letter-spacing: 0.1em;
}

.projects-sub-container h4 {
    font-size: 18px;
    padding: 10px;
    font-weight: 400;
}

.projects-sub-container p {
    font-size: 14px;
    padding: 10px;
    font-weight: 300;
}

/*Section Catalog*/

.catalog {
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 1620px;
    /*background-color: #ffe3e3;*/
}

.catalog-manufactured {
    display: flex;
    justify-content: center;
}

.catalog-manufactured h3 {
padding: 70px 15px
}

.catalog-manufactured a {
    color: #000000;
    text-decoration: none;
}

.catalog-container-first {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 350px;
    height: 300px;
    background: url('../img/Catalog/Equipment/Equip1.png');
    background-size: contain;
    border: 3px solid #005BC1;
    box-sizing: border-box;
}

.catalog-container-middle {
    position: absolute;
    bottom: 0;
    left: 380px;
    width: 350px;
    height: 300px;
    background: url('../img/Catalog/Controllers/Controllers.png');
    background-size: contain;
    border: 3px solid #005BC1;
    box-sizing: border-box;
}

.catalog-container-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 300px;
    background: url('../img/Catalog/Accessoires/Accessoires.png');
    background-size: contain;
    border: 3px solid #005BC1;
    box-sizing: border-box;
}

.catalog-sub-container {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 265px;
    height: 86px;
    background-color: #005BC1;
    display: flex;
    align-items: center;
}

.catalog-sub-container p {
    color: #FFFFFF;
    text-transform: uppercase;
    padding-left: 10px;
}

/*Section Rent*/

.rent {
    position: absolute;
    width: 1110px;
    height: 520px;
    left: 405px;
    top: 2275px;
    /*background-color: #ffe3e3;*/
}

.rent-wrapper {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.ren-sub-container {
    width: 665px;
    height: 394px;
    border: 3px solid #005BC1;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rent p {
    width: 350px;
    height: 175px;
    padding-right: 95px;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
}

.rent-card {
    position: absolute;
    width: 615px;
    height: 334px;
}

.rent-card h4 {
    padding-top: 15px;
}

.wrapper-equipment-info {
    width: 100%;
    height: 255px;
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
}

.equipment-description {
    padding-left: 30px;
}

.equipment-description ul {
    padding-top: 30px;
    width: 300px;

    font-weight: 300;
}